---
layout: default
---

<div class="header">
    <h1>{{ site.name }}</h1>
    <ul>
        {% for item in site.data.navigation %}
        <li>
            <a href="{{ item.url }}">{{ item.title }}</a>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="blog">
    <h1>Book Reviews:</h1>
    <ul>
        <table>
          <thead>
            <tr>
              <th width="5%">
              </th>
              <th width="12%">
                <strong>
                  Date
                </strong>
              </th>
              <th>
                <strong>
                  Book Name
                </strong>
              </th>
              <th width="15%">
                <strong>
                  Rating
                </strong>
              </th>
              <th width="10%">
              </th>
            </tr>
          </thead>
          <tbody>
            {% for post in site.posts %}
            <tr>
              <td>
                {{ forloop.rindex }}.
              </td>
              <td>
                <span class="date">{{ post.date | date: '%e %b' }}</span>
              </td>
              <td>
                <a href="{{ post.amazon_url }}">{{ post.title }}</a>
              </td>
              <td>
                {% for i in (1..post.rating)%}
                <img src="assets/img/star.png" height="16px">
                {% endfor %}
                {% if post.half_star %}
                <img src="assets/img/half_star.png" height="16px">
                {% endif %}
              </td>
              <td>
                <a href="{{ post.url }}">Review</a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </ul>
</div>
